@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

/* Стили для кастомного скролла */
::-webkit-scrollbar {
  width: 12px; /* Ширина скроллбара */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Цвет трека (фона) скроллбара */
}

::-webkit-scrollbar-thumb {
  background-color: orange; /* Цвет ползунка скроллбара */
  border-radius: 6px; /* Радиус закругления ползунка */
  border: 3px solid #f1f1f1; /* Граница вокруг ползунка, чтобы он не прилипал к краю */
}

::-webkit-scrollbar-thumb:hover {
  background: darkorange; /* Цвет ползунка при наведении */
}


/* Убираем обводку при фокусе (нажатии на клавиатуре) */
.btn:focus,
.btn:focus-visible,
button:focus,
button:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

/* Убираем обводку при активном состоянии (нажатии мышью) */
.btn:active,
button:active {
  outline: none !important;
  box-shadow: none !important;
}

header {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.button_pc {
  display: flex;
  align-items: center;
  gap: 32px;
}

/* Стили для модального окна */
.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 80px;
  left: 70%;
  width: 80%; /* Ширина в процентах */
  max-width: 400px; /* Максимальная ширина */
  padding: 10px;
  z-index: 9999;
}

.modal-content {
  color: #fb9300;
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
}

.account {
  background-color: #fb9300 !important;
  border: 0px !important;
  border-radius: 100px;
  padding: 9px 30px;
  font-size: 16px;
}

button {
  background-color: #fb9300 !important;
  border: 0 !important;
}

.account:hover {
  background-color: #ef8b00 !important;
  border: 0px !important;
  border-radius: 100px;
  padding: 9px 30px;
  font-size: 16px;
}

a {
  color: white;
}

.account:focus,
.account:active {
  outline: none; /* Уберите стандартную обводку */
  box-shadow: 0 0 10px #fb9300; /* Задайте красный цвет тени */
}

ul {
  list-style-type: none;
}

ul a {
  text-decoration: none;
  color: #e0e0e0;
  font-size: 20px;
  color: #575757;
}

ul a:hover {
  text-decoration: overline;
  color: white;
  font-size: 20px;
}

header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 25px 8vw !important;
}

header h1 {
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #fb9333;
}

header span {
  color: #585858;
}

header ul {
  display: flex;
  align-items: center;
  gap: 50px;
}

header .menu a:hover {
  color: black;
}

.background_main {
  background-image: url(../image/Background_main.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main_block__poster {
  position: relative;
  display: inline-block;
}

.play_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.play_button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 35px solid #fb9300; /* красный цвет */
}

.account:hover {
  color: white;
}

.btn-custom {
  background-color: #fb9300;
  border: none;
}

.btn-custom:hover,
.btn-custom:focus {
  background-color: #fb9300;
  border: none;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  } /* Начальное положение */
  100% {
    transform: translateX(-100%);
  } /* Конечное положение */
}
.modal_account {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#usernameContainer {
  color: white;
  font-size: 20px;
}

.modal-content {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  width: 300px;
  position: relative;
}

.close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  text-decoration: none;
}

.menu li a {
  text-decoration: none;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 4px;
  background-color: #fb9300; /* Цвет полосок может быть изменен */
}

.button_mobile {
  display: none;
}

/* Медиа-запрос для мобильных устройств */
@media screen and (max-width: 1200px) {
  .menu {
    display: none;
    color: white;
    flex-direction: column;
    background-color: rgb(0, 0, 0); /* Цвет фона может быть изменен */
    padding: 30px 80px;
    position: absolute;
    top: 60px;
    border-radius: 10px;
    right: 0;
    z-index: 1;
  }
  .modal_account {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999; /* Устанавливаем z-index, чтобы убедиться, что он всегда находится над другими элементами */
  }
  header ul {
    gap: 10px;
    width: 250px;
  }
  .button_pc {
    display: none !important;
  }
  .button_mobile {
    display: block;
  }
  #mobileCartContainer {
    margin: 0 auto !important;
  }
  header {
    display: flex;
    justify-content: space-between;
  }
  .menu li {
    margin-bottom: 10px;
    color: white !important;
  }
  .menu-toggle {
    display: flex;
  }
  .modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 80%; /* Ширина в процентах */
    max-width: 400px; /* Максимальная ширина */
    padding: 10px;
    z-index: 9999;
  }
  .button_mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  .menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
} 
#usernameContainer a {
  text-decoration: none;
  color: inherit; /* Используем текущий цвет текста */
}

#usernameContainer a:hover {
  text-decoration: none;
  color: inherit; /* Используем текущий цвет текста */
}

#usernameContainer a:hover,
#usernameContainer:hover {
  background-color: #585858 !important; /* Измените цвет на нужный вам */
}/*# sourceMappingURL=header.css.map */