@import url('https://fonts.googleapis.com/css2?family=Alata&family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
h1,
p,
ul {
	margin: 0;
	padding: 0;
}

.text_menu {
	text-align: center;
	margin-top: 92px;
	padding-bottom: 118px;
	h2 {
		color: #707070;
		font-size: 24px;
		font-weight: 400;
	}
	span {
		color: #fb9300;
	}
	h1 {
		color: black;
		font-size: 72px;
		font-weight: 700;
	}
}

.block_menu {
	margin-top: 80px;
	gap: 60px;
	flex-wrap: wrap;
	font-family: 'Poppins', sans-serif;

	div {
		padding: 21px 33px;
		align-items: center;

		text-align: center;

		h3 {
			color: #2f3137;
			font-size: 20px;
			font-weight: 500;
		}

		h2 {
			color: #2f3137;
			font-size: 20px;
			font-weight: 900;
			font-family: 'Poppins', sans-serif;
		}

		p {
			color: #fb9333;
			font-size: 20px;
			font-weight: 900;
		}
	}
}

.container {
	display: flex;
}

.section {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	background: #fff;
	gap: 17px;
}
.section img {
	max-width: 200px;
	margin: 0 auto;
}

.product {
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	border-radius: 18px;
	font-family: 'Poppins', sans-serif;
	gap: 5px;
	padding: 20px;

	h3 {
		font-size: 14px;
		margin-top: 23px;
		color: #575757;
		margin-bottom: 10px;
	}
	p {
		font-size: 14px;
		margin-top: 3px;
		color: #575757;
	}
}
.result {
	position: fixed;
	top: 10vh;
	right: 20px;
	width: 262px;
	background: #f9f9f9;
	padding: 15px;
	margin-top: 20px;
	border-radius: 18px;

	button {
		font-size: 15px;
		font-weight: 100;
		color: white;
		font-family: 500;
		margin-top: 15px !important;
		background-color: #fb9300;
		padding: 7px 14px;
		border-radius: 100px;
		margin: 0;
	}

	input {
		border-radius: 100px;
		padding: 2px 10px;
		width: 60px;
		margin: 10px 0;
	}
}

@media screen and (max-width: 1200px) {
	.result {
		position: relative;
		margin: 0 auto;
		right: 0;
	}
	.section {
		justify-content: center;
	}
	.container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
	}

	.text_menu {
		h1 {
			font-size: 10vw;
		}

		h2 {
			font-size: 5vw;
		}
	}
}
.product {
	cursor: pointer;
	border: 2px solid transparent;
	margin-bottom: 10px;
}

.selected {
	border: 2px solid #fb9300 !important; /* Устанавливаем красную границу для выбранных продуктов */
}

footer {
	margin-top: 100px;
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
	gap: 100px;
	flex-wrap: wrap;
	padding: 0 15px;

	a:hover {
		color: #575757 !important;
		font-weight: 400 !important;
		font-size: 16px !important;
		text-decoration: none !important;
	}
}
.footer_logo {
	max-width: 200px;

	p {
		color: #575757 !important;
		font-weight: 400 !important;
		line-height: 160% !important;
		margin-bottom: 60px !important;
	}
}

.footer_ul {
	ul {
		display: flex;
		flex-direction: column;
		gap: 24px;

		a {
			color: #575757 !important;
			font-weight: 400 !important;
			font-size: 16px !important;
		}
	}
}

.footer_ul_2 {
	ul {
		gap: 24px !important;
	}
	li {
		display: flex;
		gap: 24px;
		align-items: center;
		max-width: 250px;
		p {
			color: #575757 !important;
			margin-top: 15px !important;
			font-weight: 400 !important;
		}
	}
}

.footer_netword {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
}

.nickname {
	margin-left: 20vw;
}

.logo h1 {
	font-size: 32px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-style: normal;
	color: #fb9333;
}
.logo span {
	color: #585858;
}

.button_eat {
	max-width: 400px;
}

.Shag {
	display: flex;
	align-items: center;
	gap: 8px;

	h2 {
		font-family: 'Poppins', sans-serif;
		font-size: 20px;
		font-weight: 700;
		color: white;
		background-color: #fb9300;
		padding: 7px 14px;
		border-radius: 100px;
		margin: 0;
	}

	span {
		font-family: 'Poppins', sans-serif;
		font-size: 20px;
		font-weight: 700;
		color: rgb(0, 0, 0);
		padding: 7px 14px;
	}
}
